@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

$white: #ffff;
$semi-white: #f4f4f4;
$black-modal: #66666698;
$green-ligth: #39B54A;
$alert: #ffff;
$alert-continue: #BFD732;
$black: #000;
$white-opacity: #e9ecef;
$font: 'Jockey One', sans-serif;
$Font: 'Ubuntu', sans-serif;;