@use 'variables';
@use 'mixins';
@use './recursos/header';
@use './recursos/navbar';
@use './recursos/modal-navbar';
@use './recursos/about';
@use './index/tours-desktop';
@use './recursos/opiniones';
@use './recursos/carrousel';
@use './recursos/footer';

// NOSOSTROS
@use './nosotros/nosotros';

/* Inicio de Paginas */ 
@use '../sass/paginas/ballestas';
@use '../sass/paginas/playas';
@use '../sass/paginas/dunas';
@use '../sass/paginas/ica';
@use '../sass/paginas/nazca';
@use '../sass/paginas/fullDay';
@use '../sass/paginas/sandboarding';
/* Fin de Paginas */  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // overflow-x: hidden;
}

body {
    font-family: variables.$font;
    height: 100%;
}

.Container {
    background-color: variables.$semi-white;
    position: relative;
    width: 100%;
}