@use 'variables';
@use 'mixins';
@use './recursos/header';
@use './recursos/navbar';
@use './recursos/modal-navbar';
@use './recursos/about';
@use './index/tours-desktop';
@use './recursos/opiniones';
@use './recursos/carrousel';
@use './recursos/footer';

// NOSOSTROS
@use './nosotros/nosotros';

/* Inicio de Paginas */ 
@use '../sass/paginas/ballestas';
/* Fin de Paginas */  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: variables.$font;
}

.Container {
    background-color: variables.$semi-white;
    position: relative;
    width: 100%;
}

#map {
    height: 300px;
    width: 80%;
    margin: 1rem auto;
    @media screen and (min-width: 860px) {
        height: 400px;
        width: 50%;
    }
}