@use '../variables';
@use '../recursos/carrousel';

.opiniones {
    margin: 1rem auto 0.5rem;
    @media screen and (min-width: 467px) {
        width: 450px;
    }
    @media screen and (min-width: 860px) {
        width: 650px;
    }
    &__container {
        gap: 5px;
    }
    &__divi {
        background-color: variables.$green-ligth;
        height: 180px;
        border-radius: 15px;
        @media screen and (min-width: 320px) {
            height: 150px;
        }
    }
    img{
        height: 120px;
        width: 120px;
        padding: 1rem;
        border-radius: 50%;
        object-fit: cover;
        margin: 1rem 0 auto 0.5rem;
        @media screen and (min-width: 400px) {
            height: 150px;
            width: 150px;
            margin: auto 0.5rem;
        }
    }
    &__paragraph {
        height: 65%;
        top: 15%;
        right: 7%;
        left: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 0 0 8px;
        color: variables.$white;
        @media screen and (max-width: 435px) {
            font-size: 13px;
            margin: 15px 0 0 24px;
        }
    }
    @media screen and (min-width: 860px) {
        display: block;
    }
}