@use '../variables';

.Ballestas {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto ;
    &__title {
        position: absolute;
        top: 10%;
        left: 6.5%;
        font-size: 12px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media screen and (min-width: 310px) {
            font-size: 12px;
        }
        @media (min-width: 520px) {
            font-size: 14px;
            top: 17%;
        }
        @media (min-width: 860px) {
            top: 20%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 1040px) {
            top: 26%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 1440px) {
            top: 32%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 2400px) {
            top: 35%;
            left: 7.5%;
            font-size: 50px;
        }
    }
    &__paragraph {
        position: absolute;
        width: 55%;
        top: 12%;
        left: 6.5%;
        font-size: 14px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 310px) {
            width: 48%;
        }
        @media (min-width: 520px) {
            width: 30%;
            top: 19%;
        }
        @media (min-width: 620px) {
            font-size: 20px;
            width: 31%;
        }
        @media (min-width: 860px) {
            top: 22%;
            width: 300px;
            left: 7.5%;
            font-size: 28px;
        }
        @media (min-width: 1040px) {
            top: 28%;
            width: 400px;
            left: 7.5%;
            font-size: 28px;
        }
        @media (min-width: 1440px) {
            top: 34%;
            left: 7.5%;
        }
        @media screen and (min-width: 2400px) {
            top: 38%;
            font-size: 55px;
            width: 650px;
        }
    }
}

.Information {
    width: 95%;
    margin: auto;
    font-family: variables.$Font;
    @media screen and (min-width: 580px) {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        margin-bottom: 1rem;
        @media screen and (min-width: 580px) {
            width: 1000px;
        }
        @media screen and (min-width: 1040px) {
            font-size: 20px;
        }
        &--2 {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            margin-bottom: 1rem;
            @media screen and (min-width: 860px) {
                width: 100%;
            }
            @media screen and (min-width: 1040px) {
                font-size: 18px;
            }
        }
    }
    &__image {
        &--img {
            width: 100%;
            @media screen and (min-width: 580px) {
                width: 410px;
                height: 370px;
            }
            @media screen and (min-width: 1140px) {
                width: 490px;
            }
            @media screen and (min-width: 1750px) {
                width: 1000px;
                object-fit: cover;
            }
            &--2 {
                width: 100%;
                @media screen and (min-width: 580px) {
                    width: 410px;
                    height: 370px;
                }
                @media screen and (min-width: 1140px) {
                    width: 490px;
                }
                @media screen and (min-width: 1750px) {
                    width: 1200px;
                    height: 450px;
                    object-fit: cover;
                }
            }
        }
    }
}