@use '../variables';

.Dunas {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto ;
    &__title {
        position: absolute;
        top: 10%;
        left: 68.5%;
        font-size: 12px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 520px) {
            font-size: 14px;
            top: 10%;
        }
        @media (min-width: 580px) {
            top: 17%;
        }
        @media (min-width: 860px) {
            top: 18%;
            font-size: 26px;
        }
        @media (min-width: 1040px) {
            top: 14%;
        }
        @media (min-width: 1440px) {
            top: 13%;
        }
        @media (min-width: 2400px) {
            top: 10%;
            font-size: 50px;
        }
    }
    &__paragraph {
        position: absolute;
        width: 48%;
        top: 14%;
        left: 42.5%;
        font-size: 10px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 390px) {
            font-size: 12px;
            top: 15%;
        }
        @media (min-width: 520px) {
            width: 45%;
            top: 15%;
            font-size: 14px;
        }
        @media (min-width: 580px) {
            top: 26%;
            font-size: 16px;
        }
        @media (min-width: 620px) {
            font-size: 20px;
        }
        @media (min-width: 860px) {
            top: 26%;
            font-size: 28px;
        }
        @media (min-width: 1040px) {
            top: 25%;
        }
        @media (min-width: 1440px) {
            top: 24%;
        }
        @media screen and (min-width: 2400px) {
            top: 20%;
            font-size: 55px;
        }
    }
}

.Information {
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            width: 70%;
        }
    }
    &__img {
        width: 95%;
        margin: auto;
        &--image2 {
            width: 100%;
        }
    }
}
.desktop {
    display: none;
    @media screen and (min-width: 580px) {
        display: flex;
    }
}
.mobile {
    @media screen and (min-width: 580px) {
        display: none;
    }
}