@use '../variables';

.Promo {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto ;
    &__title {
        position: absolute;
        top: 14%;
        left: 41.5%;
        font-size: 12px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 520px) {
            font-size: 14px;
            top: 13.5%;
            left: 44%;
        }
        @media (min-width: 580px) {
            top: 15.5%;
        }
        @media (min-width: 720px) {
            left: 44%;
            font-size: 18px;
        }
        @media (min-width: 860px) {
            top: 18%;
            font-size: 26px;
        }
        @media (min-width: 1040px) {
            top: 18%;
            left: 45.5%;
        }
        @media (min-width: 2400px) {
            top: 16%;
            left: 45%;
            font-size: 50px;
        }
    }
    &__paragraph {
        position: absolute;
        width: 55%;
        top: 16%;
        left: 33.5%;
        font-size: 14px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 310px) {
            width: 48%;
        }
        @media (min-width: 520px) {
            top: 16%;
        }
        @media (min-width: 580px) {
            top: 18%;
            width: 46%;
        }
        @media (min-width: 620px) {
            font-size: 20px;
        }
        @media (min-width: 860px) {
            top: 21%;
            font-size: 28px;
        }
        @media (min-width: 1040px) {
            top: 22.5%;
            width: 39%;
        }
        @media (min-width: 1440px) {
            width: 36%;
        }
        @media screen and (min-width: 2400px) {
            top: 22%;
            font-size: 55px;
        }
    }
}