@use '../variables';

.Nazca {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto ;
    &__title {
        position: absolute;
        top: 16%;
        left: 6.5%;
        font-size: 14px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 520px) {
            font-size: 16px;
            top: 18%;
        }
        @media (min-width: 580px) {
            top: 31.5%;
        }
        @media (min-width: 860px) {
            top: 32%;
            font-size: 26px;
        }
        @media (min-width: 1040px) {
            top: 32.5%;
            font-size: 43px;
        }
        @media (min-width: 1750px) {
            top: 29%;
        }
        @media (min-width: 2400px) {
            font-size: 53px;
        }
    }
    &__paragraph {
        position: absolute;
        width: 55%;
        top: 18%;
        left: 6.5%;
        font-size: 16px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 520px) {
            top: 20%;
            font-size: 18px;
            width: 45%;
        }
        @media (min-width: 580px) {
            top: 34%;
            width: 40%;
        }
        @media (min-width: 620px) {
            font-size: 20px;
        }
        @media (min-width: 860px) {
            top: 35%;
            font-size: 28px;
            width: 55%;
        }
        @media (min-width: 1040px) {
            top: 35%;
            width: 45%;
            font-size: 45px;
        }
        @media screen and (min-width: 1750px) {
            top: 31%;
        }
        @media screen and (min-width: 2400px) {
            font-size: 55px;
        }
    }
}