@use '../variables';

.Sandboarding {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1rem auto ;
    &__title {
        position: absolute;
        top: 23%;
        left: 6.5%;
        font-size: 12px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media screen and (min-width: 310px) {
            top: 23%;
            left: 6.5%;
            font-size: 12px;
        }
        @media (min-width: 520px) {
            font-size: 14px;
            top: 28%;
        }
        @media (min-width: 860px) {
            top: 28%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 1040px) {
            top: 38%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 1440px) {
            top: 44%;
            left: 7.5%;
            font-size: 26px;
        }
        @media (min-width: 2400px) {
            top: 48%;
            left: 7.5%;
            font-size: 50px;
        }
    }
    &__paragraph {
        position: absolute;
        width: 55%;
        top: 26%;
        left: 6.5%;
        font-size: 14px;
        z-index: 1;
        color: variables.$white;
        font-weight: 500;
        @media (min-width: 310px) {
            width: 48%;
        }
        @media (min-width: 520px) {
            width: 30%;
            top: 31%;
        }
        @media (min-width: 620px) {
            font-size: 20px;
            width: 31%;
        }
        @media (min-width: 860px) {
            top: 32%;
            width: 300px;
            left: 7.5%;
            font-size: 28px;
        }
        @media (min-width: 1040px) {
            top: 42%;
            width: 400px;
            left: 7.5%;
            font-size: 28px;
        }
        @media (min-width: 1440px) {
            top: 48%;
            left: 7.5%;
        }
        @media screen and (min-width: 2400px) {
            top: 52%;
            font-size: 55px;
            width: 650px;
        }
    }
}